Source: notetaker
Section: miscellaneous
Priority: optional
Maintainer: Melber <melber-mx-linux@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <https:/mxlinux.org>

Package: notetaker
Architecture: all
Description: Take and manage notes.
